.container {
  width: 100%;

  .input {
    width: 100%;
    border: none;
    background-color: #f1f4f8;
    height: 48px;
    border-radius: 12px;
    padding-left: 60px;
    font: inherit;
    font-size: 1rem;
    font-weight: 400;
  }
  
  .button {
    border: none;
    width: 52px;
    border-radius: 12px;

    :global(.selected-flag) {
      width: 100%;
      padding-left: 16px;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;

      &:hover {
        background-color: #e1e6f0;
      }
    }

    &:global(.flag-dropdown.open .selected-flag) {
      background-color: #e1e6f0;
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
  
  }
  
  .dropdown {
  
  }
}



